*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #353535;
}

header {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
  margin: 2rem auto;
}

.checkerboard {
  display: grid;
  grid-template-rows: repeat(8, 75px);
  grid-template-columns: repeat(8, 75px);
  border: 2px solid #333;
}

.row {
  /* review this */
  display: contents;
}

.square {
  width: 75px;
  height: 75px;
  position: relative;
}

.black {
  background-color: rgb(20, 20, 20);
}

.red {
  background-color: rgb(206, 30, 30);
}
.red-text {
  color: red;
}
/* game pieces */
.checker {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.black-piece {
  background-color: black;
  border: 2px solid white;
}

.red-piece {
  background-color: red;
  border: 2px solid white;
}

.active {
  border: solid 3px gold;
}
